  {
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    ["babel-plugin-styled-components", {
      "displayName": true,
      "ssr": true
    }],
    "inline-react-svg",
    "@babel/plugin-transform-runtime"
  ]
}